// FONT STACK
// --------------------------------------------------------------------------------------------
// Use the mixin to include fonts.
@mixin font-family($font-name, $font-weight, $font-style, $font-url, $font-file) {
  @font-face {
    font-family: '#{$font-name}';
    src: url('#{$font-url}#{$font-file}.eot'); /* IE9 Compat Modes */
    src:
      url('#{$font-url}#{$font-file}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('#{$font-url}#{$font-file}.woff2') format('woff2'), /* Super Modern Browsers */
      url('#{$font-url}#{$font-file}.woff') format('woff'), /* Modern Browsers */
      url('#{$font-url}#{$font-file}.ttf') format('truetype'), /* Safari, Android, iOS */
      url('#{$font-url}#{$font-file}.svg##{$font-name}') format('svg'); /* Legacy iOS */
    font-weight: $font-weight;
    font-style: $font-style;
  }
}


// FONT WEIGHTS
// --------------------------------------------------------------------------------------------
// Use the numerical value instead of the weight name.

//  300   Light
//  400   Normal
//  500   Medium
//  700   Bold
// @include font-family('Proxima Nova', 700, normal, '../../assets/fonts/ProximaNova/', 'ProximaNova-Bold');


// @font-face {
//   font-family: TelstraAkkuratRegular;
//   src: url("../../assets/fonts/TelstraAkkurat/TelstraAkkurat-Regular.otf") format('truetype');
// }

// * {
//   font-family: TelstraAkkuratRegular;
//   font-size: 11pt;
// }
