@import '~styles/includes';

.homeContainer {
  button {
    display: block;
    margin: 20px auto;
  }
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .mergeContainer {
    margin: 40px 0px;
    text-align: center;
  }

  .container {
    button {
      margin: 0;
    }
  }
}